/Happy.Web.Mobile/obj
/Happy.Web.Mobile/bin
/Happy.Web.Desk/obj
/Happy.Web.Desk/bin
/Happy.Hims/obj
/Happy.Hims/bin
/Happy.Dac/obj
/Happy.Dac/bin
/Happy.Utility/obj
/Happy.Utility/bin
/Happy.Hims/log
/Happy.Hims.Pad/obj
/Happy.Hims.Pad/bin
/Happy.Models/obj
/Happy.Models/bin
/Happy.Hims/tmp
