USE [HAPPYRENT]
GO
/****** Object:  Table [dbo].[COM_CODE_CATEGORY]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_CODE_CATEGORY](
	[CAT_IDX] [int] IDENTITY(1,1) NOT NULL,
	[CAT_NAME] [varchar](150) NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CAT_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COM_CODE_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_CODE_MASTER](
	[CODE_IDX] [int] IDENTITY(1,1) NOT NULL,
	[CAT_IDX] [int] NOT NULL,
	[CODE_NAME] [varchar](100) NULL,
	[CODE_DESC] [varchar](max) NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_AUTH_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_AUTH_MASTER](
	[AU_IDX] [int] IDENTITY(1,1) NOT NULL,
	[AU_NAME] [varchar](50) NOT NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AU_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_AUTH_MENU]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_AUTH_MENU](
	[AU_IDX] [int] NOT NULL,
	[MENU_IDX] [int] NOT NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_AUTH_USER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_AUTH_USER](
	[AU_IDX] [int] NOT NULL,
	[USERID] [varchar](50) NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_LOGIN_HIS]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_LOGIN_HIS](
	[IDX] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [varchar](50) NULL,
	[RESULT] [varchar](1) NULL,
	[MACADDR] [varchar](100) NULL,
	[IPADDR] [varchar](12) NULL,
	[CREAT_DATE] [datetime] NULL,
 CONSTRAINT [PK__HERS_LOG__C4971C06A37887DF] PRIMARY KEY CLUSTERED 
(
	[IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_MENU_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_MENU_INFO](
	[MENU_IDX] [int] IDENTITY(1,1) NOT NULL,
	[PARENT_IDX] [int] NOT NULL DEFAULT ((0)),
	[MENU_NAME] [varchar](50) NOT NULL,
	[MENU_URL] [varchar](150) NOT NULL,
	[PAGE_URL] [varchar](100) NOT NULL,
	[SORT_ORDER] [int] NOT NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MENU_IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIS_USER_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_USER_INFO](
	[USERID] [varchar](50) NOT NULL,
	[USERPWD] [varchar](max) NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[USER_STATUS] [int] NOT NULL,
	[CREAT_DATE] [datetime] NULL,
	[CREATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WEB_POPUP_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WEB_POPUP_INFO](
	[IDX] [int] IDENTITY(1,1) NOT NULL,
	[SDATE] [datetime] NOT NULL,
	[EDATE] [datetime] NOT NULL,
	[CONTENTS] [varchar](max) NOT NULL,
	[USE_YN] [varchar](1) NOT NULL,
	[PTYPE] [varchar](1) NULL,
	[CREATE_USER] [varchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[COM_CODE_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_COM_CODE_MASTER_COM_CODE_CATEGORY] FOREIGN KEY([CAT_IDX])
REFERENCES [dbo].[COM_CODE_CATEGORY] ([CAT_IDX])
GO
ALTER TABLE [dbo].[COM_CODE_MASTER] CHECK CONSTRAINT [FK_COM_CODE_MASTER_COM_CODE_CATEGORY]
GO
ALTER TABLE [dbo].[MIS_AUTH_MENU]  WITH CHECK ADD  CONSTRAINT [FK_HERS_AUTH_MENU_HERS_AUTH_MASTER] FOREIGN KEY([AU_IDX])
REFERENCES [dbo].[MIS_AUTH_MASTER] ([AU_IDX])
GO
ALTER TABLE [dbo].[MIS_AUTH_MENU] CHECK CONSTRAINT [FK_HERS_AUTH_MENU_HERS_AUTH_MASTER]
GO
ALTER TABLE [dbo].[MIS_AUTH_MENU]  WITH CHECK ADD  CONSTRAINT [FK_HERS_AUTH_MENU_HERS_MENU_INFO] FOREIGN KEY([MENU_IDX])
REFERENCES [dbo].[MIS_MENU_INFO] ([MENU_IDX])
GO
ALTER TABLE [dbo].[MIS_AUTH_MENU] CHECK CONSTRAINT [FK_HERS_AUTH_MENU_HERS_MENU_INFO]
GO
ALTER TABLE [dbo].[MIS_AUTH_USER]  WITH CHECK ADD  CONSTRAINT [FK_HERS_AUTH_USER_HERS_AUTH_MASTER] FOREIGN KEY([AU_IDX])
REFERENCES [dbo].[MIS_AUTH_MASTER] ([AU_IDX])
GO
ALTER TABLE [dbo].[MIS_AUTH_USER] CHECK CONSTRAINT [FK_HERS_AUTH_USER_HERS_AUTH_MASTER]
GO
ALTER TABLE [dbo].[MIS_AUTH_USER]  WITH CHECK ADD  CONSTRAINT [FK_HERS_AUTH_USER_HERS_USER_INFO] FOREIGN KEY([USERID])
REFERENCES [dbo].[MIS_USER_INFO] ([USERID])
GO
ALTER TABLE [dbo].[MIS_AUTH_USER] CHECK CONSTRAINT [FK_HERS_AUTH_USER_HERS_USER_INFO]
GO
/****** Object:  StoredProcedure [dbo].[SP_COM_DELET_COM_CODE_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
공통코드 삭제
EXEC SP_COM_DELET_COM_CODE_MASTER 3, 2
*/
CREATE PROC [dbo].[SP_COM_DELET_COM_CODE_MASTER]
@CODE_IDX		INT
AS
BEGIN
	DELETE FROM COM_CODE_MASTER WHERE CODE_IDX = @CODE_IDX
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_INSERT_COM_CODE_CATEGORY]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
카테고리 저장
EXEC SP_COM_INSERT_COM_CODE_CATEGORY '사용자상태','admin'
*/
CREATE PROC [dbo].[SP_COM_INSERT_COM_CODE_CATEGORY]
@CAT_NAME		VARCHAR(150), 
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO COM_CODE_CATEGORY(CAT_NAME, CREATE_USER, CREAT_DATE)
	VALUES(@CAT_NAME, @CREATE_USER, GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_INSERT_COM_CODE_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
공통코드 저장
EXEC SP_COM_INSERT_COM_CODE_MASTER 1, 'AL', '정상사용자', 'admin'
EXEC SP_COM_INSERT_COM_CODE_MASTER 1, 'DE', '삭제사용자', 'admin'
*/
CREATE PROC [dbo].[SP_COM_INSERT_COM_CODE_MASTER]
@CAT_IDX		INT, 
@CODE_NAME		VARCHAR(100), 
@CODE_DESC		VARCHAR(MAX), 
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO COM_CODE_MASTER(CAT_IDX, CODE_NAME, CODE_DESC, CREAT_DATE, CREATE_USER) 
	VALUES(@CAT_IDX, @CODE_NAME, @CODE_DESC, GETDATE(), @CREATE_USER)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_SELECT_COM_CODE_CATEGORY_LIST]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
카테고리 리스트 불러오기
EXEC SP_COM_SELECT_COM_CODE_CATEGORY_LIST 1, 10
*/
CREATE PROC [dbo].[SP_COM_SELECT_COM_CODE_CATEGORY_LIST]
@SNUM	INT,
@ENUM	INT
AS
BEGIN
	SELECT A.* FROM
	(
		SELECT 
				ROW_NUMBER() OVER(ORDER BY CAT_IDX)AS ROWNUM,
			CAT_IDX, CAT_NAME, CREAT_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER 
		FROM COM_CODE_CATEGORY
	) A 
	WHERE  A.ROWNUM BETWEEN @SNUM AND @ENUM
	SELECT COUNT(*) AS COUNTI FROM COM_CODE_CATEGORY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_SELECT_COM_CODE_MASTER_LIST]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
공통코드 리스트 불러오기
EXEC SP_COM_SELECT_COM_CODE_MASTER_LIST 2, 1, 10
*/
CREATE PROC [dbo].[SP_COM_SELECT_COM_CODE_MASTER_LIST]
@CAT_IDX	INT,
@SNUM		INT,
@ENUM		INT
AS
BEGIN
	SELECT A.* FROM
	(
		SELECT 
			ROW_NUMBER() OVER(ORDER BY CAT_IDX, CODE_IDX)AS ROWNUM,
			CODE_IDX, CAT_IDX, CODE_NAME, CODE_DESC, CREAT_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
		FROM COM_CODE_MASTER
		WHERE (CAT_IDX = @CAT_IDX OR @CAT_IDX = 0)
	) A 
	WHERE  A.ROWNUM BETWEEN @SNUM AND @ENUM
	SELECT COUNT(*) AS COUNTI FROM COM_CODE_MASTER WHERE (CAT_IDX = @CAT_IDX OR @CAT_IDX = 0)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_UPDATE_COM_CODE_CATEGORY]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
카테고리 수정
EXEC SP_COM_UPDATE_COM_CODE_CATEGORY 3, 'MIS','admin'
*/
CREATE PROC [dbo].[SP_COM_UPDATE_COM_CODE_CATEGORY]
@CAT_IDX		INT,
@CAT_NAME		VARCHAR(150), 
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE COM_CODE_CATEGORY SET
		CAT_NAME = @CAT_NAME, 
		UPDATE_USER = @UPDATE_USER,
		UPDATE_DATE = GETDATE()
	WHERE CAT_IDX = @CAT_IDX
END

GO
/****** Object:  StoredProcedure [dbo].[SP_COM_UPDATE_COM_CODE_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
공통코드 수정
EXEC SP_COM_UPDATE_COM_CODE_MASTER 1, 2, 'AL', '정상사용자', 'admin'
*/
CREATE PROC [dbo].[SP_COM_UPDATE_COM_CODE_MASTER]
@CODE_IDX		INT,
@CAT_IDX		INT, 
@CODE_NAME		VARCHAR(100), 
@CODE_DESC		VARCHAR(MAX), 
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE COM_CODE_MASTER SET
		CODE_NAME = @CODE_NAME, 
		CODE_DESC = @CODE_DESC,
		UPDATE_DATE = GETDATE(),
		UPDATE_USER = @UPDATE_USER
	WHERE 
		CODE_IDX = @CODE_IDX
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_DELETE_AUTH_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한 마스터 삭제
*/
CREATE PROC [dbo].[SP_MIS_DELETE_AUTH_MASTER]
@AU_IDX	INT
AS
BEGIN
	BEGIN
		DELETE FROM MIS_AUTH_USER WHERE AU_IDX = @AU_IDX
		DELETE FROM MIS_AUTH_MENU WHERE AU_IDX=@AU_IDX
		DELETE FROM MIS_AUTH_MASTER WHERE AU_IDX = @AU_IDX
	END
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_DELETE_AUTH_MENU]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한별 메뉴등록 삭제
*/
CREATE PROC [dbo].[SP_MIS_DELETE_AUTH_MENU]
@AU_IDX INT
AS
BEGIN
	DELETE FROM MIS_AUTH_MENU WHERE AU_IDX = @AU_IDX
END




GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_DELETE_AUTH_USER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 권한 삭제
*/
CREATE PROC [dbo].[SP_MIS_DELETE_AUTH_USER]
@AU_IDX	INT
AS
BEGIN
	DELETE FROM MIS_AUTH_USER WHERE AU_IDX = @AU_IDX
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_DELETE_MENU_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
메뉴삭제
EXEC SP_MIS_DELETE_MENU_INFO 2
*/
CREATE PROC [dbo].[SP_MIS_DELETE_MENU_INFO]
@MENU_IDX		INT
AS
BEGIN
	DELETE FROM MIS_AUTH_MENU WHERE MENU_IDX = @MENU_IDX
	DELETE FROM MIS_MENU_INFO WHERE MENU_IDX = @MENU_IDX
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_AUTH_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한 마스터 생성
EXEC SP_MIS_INSERT_AUTH_MASTER '시스템관리자', 'admin'
*/
CREATE PROC [dbo].[SP_MIS_INSERT_AUTH_MASTER]
@AU_NAME		VARCHAR(50),
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO MIS_AUTH_MASTER(AU_NAME, CREAT_DATE, CREATE_USER)
	VALUES(@AU_NAME, GETDATE(), @CREATE_USER)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_AUTH_MENU]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한별 메뉴 등록
*/
CREATE PROC [dbo].[SP_MIS_INSERT_AUTH_MENU]
@AU_IDX			INT,
@MENU_IDX		INT,
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO MIS_AUTH_MENU(AU_IDX, MENU_IDX, CREAT_DATE, CREATE_USER)
	VALUES(@AU_IDX, @MENU_IDX, GETDATE(), @CREATE_USER)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_AUTH_USER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 권한 등록
*/
CREATE PROC [dbo].[SP_MIS_INSERT_AUTH_USER]
@AU_IDX INT,
@USERID	VARCHAR(50),
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO MIS_AUTH_USER(AU_IDX, USERID, CREATE_DATE, CREATE_USER)
	VALUES(@AU_IDX, @USERID, GETDATE(), @CREATE_USER)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_LOGIN_HIS]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MIS_INSERT_LOGIN_HIS]
@USERID	VARCHAR(50),
@RESULT	VARCHAR(1),
@MACADDR	VARCHAR(100),
@IPADDR	VARCHAR(12)
AS
BEGIN
	INSERT INTO MIS_LOGIN_HIS
	VALUES(@USERID, @RESULT, @MACADDR, @IPADDR, GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_MENU_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
메뉴저장
EXEC SP_INSERT_MENU_INFO 1, 'TOP메뉴2', '/Home/Index', 'Index', 'admin'
*/
CREATE PROC [dbo].[SP_MIS_INSERT_MENU_INFO]
@PARENT_IDX		INT, 
@MENU_NAME		VARCHAR(50), 
@MENU_URL		VARCHAR(150), 
@PAGE_URL		VARCHAR(100), 
@SORT_ORDER		INT,
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO MIS_MENU_INFO(PARENT_IDX, MENU_NAME, MENU_URL, PAGE_URL, SORT_ORDER, CREAT_DATE, CREATE_USER)
	VALUES(@PARENT_IDX, @MENU_NAME, @MENU_URL, @PAGE_URL, @SORT_ORDER, GETDATE(), @CREATE_USER)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_INSERT_USER_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 생성
EXEC SP_MIS_INSERT_USER_INFO 'TEST1','1234','사용자', 'Y', 'ADMIN'
*/
CREATE PROC [dbo].[SP_MIS_INSERT_USER_INFO]
@USERID			VARCHAR(50),
@USERPWD		VARCHAR(MAX),
@USERNAME		VARCHAR(30),
@USER_STATUS	INT,
@CREATE_USER	VARCHAR(50)
AS
BEGIN
	INSERT INTO MIS_USER_INFO(USERID, USERPWD, USERNAME, USER_STATUS, CREAT_DATE, CREATE_USER)
	VALUES(@USERID, @USERPWD, @USERNAME, @USER_STATUS, GETDATE(), @CREATE_USER)
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_AUTH_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MIS_SELECT_AUTH_MASTER]
AS
BEGIN
SELECT AU_IDX, AU_NAME FROM MIS_AUTH_MASTER
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_AUTH_MENU]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한별 메뉴 리스트
EXEC SP_MIS_SELECT_AUTH_MENU 1
*/
CREATE PROC [dbo].[SP_MIS_SELECT_AUTH_MENU]
@AU_IDX INT
AS
BEGIN
	SELECT A.MENU_IDX, A.PARENT_IDX, A.MENU_NAME, A.MENU_URL, A.PAGE_URL
	FROM MIS_AUTH_MENU B 
	INNER JOIN  MIS_MENU_INFO A ON B.MENU_IDX = A.MENU_IDX
	WHERE B.AU_IDX = @AU_IDX
	ORDER BY A.PARENT_IDX, A.SORT_ORDER
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_AUTH_MENU_ALL]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
권한별 메뉴 리스트
EXEC [SP_MIS_SELECT_AUTH_MENU_ALL]  2
*/
CREATE PROC [dbo].[SP_MIS_SELECT_AUTH_MENU_ALL] 
@AU_IDX INT
AS
BEGIN
	SELECT A.MENU_IDX, A.PARENT_IDX, A.MENU_NAME, A.MENU_URL, A.PAGE_URL, ISNULL(B.AU_IDX,0) AS AU_IDX
	FROM MIS_MENU_INFO A
	LEFT OUTER JOIN MIS_AUTH_MENU B ON A.MENU_IDX = B.MENU_IDX AND AU_IDX = @AU_IDX
	ORDER BY A.PARENT_IDX, A.SORT_ORDER
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_LOGIN_HIS]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MIS_SELECT_LOGIN_HIS]
@SDATE	DATETIME,
@EDATE	DATETIME
AS
BEGIN
	SELECT * FROM MIS_LOGIN_HIS
	WHERE CREAT_DATE BETWEEN @SDATE AND @EDATE
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_MENU_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MIS_SELECT_MENU_INFO]
AS
BEGIN
	SELECT * FROM MIS_MENU_INFO ORDER BY PARENT_IDX, SORT_ORDER
END 



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_USER_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
사용자 리스트
EXEC SP_MIS_SELECT_USER_INFO '', 1, 10
*/
CREATE PROC [dbo].[SP_MIS_SELECT_USER_INFO]
@USERNAME	VARCHAR(30),
@SNUM	INT,
@ENUM	INT
AS
BEGIN
	SELECT A.* FROM
	(
		SELECT
			ROW_NUMBER() OVER(ORDER BY USERNAME)AS ROWNUM,
			USERID, USERPWD, USERNAME, USER_STATUS, CREAT_DATE, CREATE_USER, UPDATE_DATE, UPDATE_USER
		FROM MIS_USER_INFO
		WHERE USERNAME LIKE '%' + @USERNAME + '%'
	) A
	WHERE  A.ROWNUM BETWEEN @SNUM AND @ENUM
	SELECT COUNT(*) AS COUNTI FROM MIS_USER_INFO WHERE USERNAME LIKE '%' + @USERNAME + '%'
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_USER_INFO_COUNT]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
아이디 중복 체크
*/
CREATE PROC [dbo].[SP_MIS_SELECT_USER_INFO_COUNT]
@USERID	VARCHAR(50)
AS
BEGIN
	SELECT COUNT(*) FROM MIS_USER_INFO WHERE USERID = @USERID
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_USER_LOGIN]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 로그인 확인
*/
CREATE PROC [dbo].[SP_MIS_SELECT_USER_LOGIN]
@USERID		VARCHAR(50)
AS
BEGIN
	SELECT * FROM MIS_USER_INFO WHERE USERID = @USERID 
END




GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_SELECT_USERAUTH_MENU]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 권한 메뉴
EXEC MIS_SELECT_USERAUTH_MENU 'admin'
*/
CREATE PROC [dbo].[SP_MIS_SELECT_USERAUTH_MENU]
@USERID VARCHAR(50)
AS
BEGIN
	SELECT A.MENU_IDX, A.PARENT_IDX, A.MENU_NAME, A.MENU_URL, A.PAGE_URL, A.SORT_ORDER
	FROM MIS_MENU_INFO A
		INNER JOIN MIS_AUTH_MENU C ON
			A.MENU_IDX = C.MENU_IDX
		INNER JOIN MIS_AUTH_USER B ON
			C.AU_IDX = B.AU_IDX
	WHERE B.USERID = @USERID		
END	


GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_UPDATE_AUTH_MASTER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
권한 마스터 수정
*/
CREATE PROC [dbo].[SP_MIS_UPDATE_AUTH_MASTER]
@AU_IDX			INT,
@AU_NAME		VARCHAR(50),
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE MIS_AUTH_MASTER SET
		AU_NAME = @AU_NAME, UPDATE_DATE = GETDATE(), UPDATE_USER = @UPDATE_USER
	WHERE AU_IDX = @AU_IDX
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_UPDATE_AUTH_USER]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
사용자 권한 변경
*/
CREATE PROC [dbo].[SP_MIS_UPDATE_AUTH_USER]
@AU_IDX	INT,
@USERID	VARCHAR(50),
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE MIS_AUTH_USER SET
		AU_IDX = @AU_IDX, UPDATE_DATE = GETDATE(), UPDATE_USER = @UPDATE_USER
	WHERE USERID = @USERID
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_UPDATE_MENU_INFO]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
메뉴수정
EXEC SP_UPDATE_MENU_INFO 2, 12, 'TOP메뉴2', '/Home/Index', 'Index', 'admin'
*/
CREATE PROC [dbo].[SP_MIS_UPDATE_MENU_INFO]
@MENU_IDX		INT,
@PARENT_IDX		INT, 
@MENU_NAME		VARCHAR(50), 
@MENU_URL		VARCHAR(150), 
@PAGE_URL		VARCHAR(100), 
@SORT_ORDER		INT,
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE MIS_MENU_INFO SET
		PARENT_IDX = @PARENT_IDX, 
		MENU_NAME = @MENU_NAME, 
		MENU_URL = @MENU_URL, 
		PAGE_URL = @PAGE_URL, 
		SORT_ORDER =@SORT_ORDER,
		UPDATE_DATE = GETDATE(), 
		UPDATE_USER = @UPDATE_USER
	WHERE MENU_IDX = @MENU_IDX
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_UPDATE_USER_INFO_PWD]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
사용자 비번 변경
EXEC SP_MIS_UPDATE_USER_INFO_PWD 'TEST', '1235', 'ADMIN'
*/
CREATE PROC [dbo].[SP_MIS_UPDATE_USER_INFO_PWD]
@USERID			VARCHAR(50),
@USERPWD		VARCHAR(MAX),
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE MIS_USER_INFO SET 
		USERPWD = @USERPWD, UPDATE_USER = @UPDATE_USER, UPDATE_DATE = GETDATE()
	WHERE USERID = @USERID
END



GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_UPDATE_USER_INFO_STATUS]    Script Date: 2014-10-09 오전 9:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
사용자 상태 변경
EXEC SP_MIS_UPDATE_USER_INFO_STATUS 'TEST', 'N', 'ADMIN'
*/
CREATE PROC [dbo].[SP_MIS_UPDATE_USER_INFO_STATUS]
@USERID			VARCHAR(50),
@USER_STATUS	INT,
@UPDATE_USER	VARCHAR(50)
AS
BEGIN
	UPDATE MIS_USER_INFO SET 
		USER_STATUS = @USER_STATUS, UPDATE_USER = @UPDATE_USER, UPDATE_DATE = GETDATE()
	WHERE USERID = @USERID
END



GO
