@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pad</title>
</head>
<body>
    <div>
        <p>ID : @ViewBag.Id</p>
        <p>Name : @ViewBag.Name</p>
    </div>
</body>
</html>
