@{
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}
<style type="text/css">
    .video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

        .video iframe {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .video .overlay {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%; /* you were also missing a semi-colon here, which was breaking this and the background rule */
        }
</style>
<div class="row">
    <div class="video">
        <iframe src="//player.vimeo.com/video/82123812?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774&amp;autoplay=1&amp;loop=1"
                width="960" height="540" frameborder="0" webkitallowfullscreen
                mozallowfullscreen allowfullscreen></iframe>   <div class="overlay"></div>
    </div>
</div>