@{
    List<Happy.Mis.Models.UserMenu> menuList = new List<Happy.Mis.Models.UserMenu>();
    menuList = ViewBag.userMenuList;
}

<ul>
    @if(menuList != null)
    { 
        foreach(var menuTop in menuList.Where(x =>x.parent_idx == 0).OrderBy(x => x.sort_order))
        {
        <li>
            <a href="@menuTop.menu_url">@menuTop.menu_name</a>
            <ul>
                @foreach (var menuBottom in menuList.Where(x => x.parent_idx == menuTop.menu_idx).OrderBy(x => x.sort_order))
                {
                    <a href="@menuBottom.menu_url">@menuBottom.menu_name</a>
                }
            </ul>
        </li>
        }
    }
</ul>