@{
    List<Happy.Models.UserMenu> menuList = new List<Happy.Models.UserMenu>();
    menuList = ViewBag.userMenuList;
}
<style type="text/css">
    .top { width:200px; height:100px; display:inline; border:1px solid #cccccc; padding: 10px 10px 10px 10px;
           margin-left: 20px;
    }
</style>
<div style="width:100%;">
    @foreach(var menuTop in menuList.Where(x =>x.parent_idx == 0).OrderBy(x => x.sort_order))
    {
        <div class="top">
            <a href="@menuTop.menu_url">@menuTop.menu_name</a>
        </div>
    }
</div>
@section topscripts{
    <script type="text/javascript">

    </script>
}


@*<ul>
    @foreach (var menuBottom in menuList.Where(x => x.parent_idx == menuTop.menu_idx).OrderBy(x => x.sort_order))
    {
        <a href="@menuBottom.menu_url">@menuBottom.menu_name</a>
    }
</ul>*@